#
############################################
#####################################################################
##Section Caertographer IDM Sensor
#####################################################################
#[cartographer]
[scanner]
canbus_uuid: e258612af1cc
#serial: e258612af1cc
#   Path to the serial port for the Cartographer device. Typically has the form
#   /dev/serial/by-id/usb-cartographer_cartographer_...
#   
#   If you are using the CAN Bus version, replace serial: with canbus_uuid: and add the UUID.
#   Example: canbus_uuid: 1283as878a9sd
#
speed: 5.  #8.  #40.
#   Z probing dive speed.
lift_speed: 10.
#   Z probing lift speed.
backlash_comp: 0.01926  #0.01  #0.5
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
x_offset: 0.
#   X offset of cartographer from the nozzle.
y_offset: 21.1
#   Y offset of cartographer from the nozzle.
trigger_distance: 2.
#   cartographer trigger distance for homing.
trigger_dive_threshold: 1.5
#   Threshold for range vs dive mode probing. Beyond `trigger_distance +
#   trigger_dive_threshold` a dive will be used.
trigger_hysteresis: 0.006
#   Hysteresis on trigger threshold for untriggering, as a percentage of the
#   trigger threshold.
cal_nozzle_z: 0.1
#   Expected nozzle offset after completing manual Z offset calibration.
cal_floor: 0.1
#   Minimum z bound on sensor response measurement.
cal_ceil: 5.
#   Maximum z bound on sensor response measurement.
cal_speed: 1.0
#   Speed while measuring response curve.
cal_move_speed: 10.
#   Speed while moving to position for response curve measurement.
default_model_name: default
#   Name of default cartographer model to load.
mesh_main_direction: x
#   Primary travel direction during mesh measurement.
#mesh_overscan: -1
#   Distance to use for direction changes at mesh line ends. Omit this setting
#   and a default will be calculated from line spacing and available travel.
mesh_cluster_size: 1
#   Radius of mesh grid point clusters.
mesh_runs: 2
#   Number of passes to make during mesh scan.
#calibration_method: touch
#    if you want to use touch or 
calibration_method: scan
#    if you want to use scan
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc  
#
#tc_a_a:-1.2787411540748841e-05
tc_a_b:4.44917674502217
tc_b_a:0.004212702640639069
tc_b_b:-756.8496375716085

#
#tc_a_a:-8.49326509685016e-52
#tc_a_b:2.3337420653775247
#tc_b_a:3.14540757378449e-48
#tc_b_b:-242.02202985160196
#
#tc_a_a:3.823800517382548e-06
#tc_a_b:1.1321208545936532
#tc_b_a:0.001411021124738739
#tc_b_b:-313.09522845664014


[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: scanner  #cartographer

[gcode_macro PROBE_CALIBRATE]
gcode:
    CARTOGRAPHER_CALIBRATE


#[gcode_macro Cartographer_Set_Model]
#gcode:
#    RESPOND TYPE=command MSG="action:prompt_begin Cartographer Model"
#    RESPOND TYPE=command MSG="action:prompt_text Select a model"
#    RESPOND TYPE=command MSG="action:prompt_button Default|CARTOGRAPHER_MODEL_SELECT NAME=default|primary"
#    RESPOND TYPE=command MSG="action:prompt_button_group_start"
#    RESPOND TYPE=command MSG="action:prompt_button Hot|CARTOGRAPHER_MODEL_SELECT NAME=hot|secondary"
#    RESPOND TYPE=command MSG="action:prompt_button PEI Smooth|CARTOGRAPHER_MODEL_SELECT NAME=PEI_smooth|seconday"
#    RESPOND TYPE=command MSG="action:prompt_button_group_end"
#    RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro Cartographer_Set_Model]
gcode:
  {% set MODEL = params.MODEL | default("default") | string %}
  CARTOGRAPHER_MODEL_SELECT NAME={MODEL} 


#Very simple print start addition to set the cartographer model to "hot" when the target bed temp is over a certain threshold.

#You should have this section in your start print macro, parsed from the slicer.
#   {% set target_bed = params.BED|int %}

#Add this near the start
#  {% if target_bed > 65 %}
#    CARTOGRAPHER_MODEL_SELECT NAME=hot
#  {% else %}
#    CARTOGRAPHER_MODEL_SELECT NAME=default
#  {% endif %}

[gcode_macro DATA_SAMPLE]
gcode:
  {% set bed_temp = params.BED_TEMP|default(90)|int %}
  {% set nozzle_temp = params.NOZZLE_TEMP|default(250)|int %}
  {% set min_temp = params.MIN_TEMP|default(40)|int %}
  {% set max_temp = params.MAX_TEMP|default(70)|int %}
  G90
  M106 S255
  RESPOND TYPE=command MSG='Waiting for Coil to cool to 40'
  M117 Waiting for Coil to cool to 40
  TEMPERATURE_WAIT SENSOR='temperature_sensor cartographer_coil' MAXIMUM={min_temp}
  RESPOND TYPE=command MSG='Starting Phase 1 of 4'
  M117 Starting Phase 1 of 4
  M106 S0
  G28
  G0 Z1
  M104 S{nozzle_temp}
  M140 S{bed_temp}
  G4 P1000
  TEMPERATURE_WAIT SENSOR='temperature_sensor cartographer_coil' MINIMUM={min_temp}
  CARTOGRAPHER_STREAM FILENAME=data1
  M117 Waiting for Coil to heat to 70
  RESPOND TYPE=command MSG='Waiting for Coil to heat to 70'
  TEMPERATURE_WAIT SENSOR='temperature_sensor cartographer_coil' MINIMUM={max_temp}
  CARTOGRAPHER_STREAM FILENAME=data1
  M104 S0
  M140 S0
  M106 S255
  G0 Z80
  RESPOND TYPE=command MSG='Waiting for Coil to cool to 40'
  M117 Waiting for Coil to cool to 40
  TEMPERATURE_WAIT SENSOR='temperature_sensor cartographer_coil' MAXIMUM={min_temp}
  M117 Starting Phase 2 of 4
  RESPOND TYPE=command MSG='Starting Phase 2 of 4'
  M106 S0
  G28 Z0
  G0 Z2
  M104 S{nozzle_temp}
  M140 S{bed_temp}
  G4 P1000
  CARTOGRAPHER_STREAM FILENAME=data2
  M117 Waiting for Coil to heat to 70
  RESPOND TYPE=command MSG='Waiting for Coil to heat to 70'
  TEMPERATURE_WAIT SENSOR='temperature_sensor cartographer_coil' MINIMUM={max_temp}
  CARTOGRAPHER_STREAM FILENAME=data2
  M104 S0
  M140 S0
  M106 S255
  G0 Z80
  RESPOND TYPE=command MSG='Waiting for Coil to cool to 40'
  M117 Waiting for Coil to cool to 40
  TEMPERATURE_WAIT SENSOR='temperature_sensor cartographer_coil' MAXIMUM={min_temp}
  M117 "Starting Phase 3 of 4"
  RESPOND TYPE=command MSG='Starting Phase 3 of 4'
  M106 S0
  G28 Z0
  G0 Z3
  M104 S{nozzle_temp}
  M140 S{bed_temp}
  G4 P1000
  CARTOGRAPHER_STREAM FILENAME=data3
  M117 Waiting for Coil to heat to 70
  RESPOND TYPE=command MSG='Waiting for Coil to heat to 70'
  TEMPERATURE_WAIT SENSOR='temperature_sensor cartographer_coil' MINIMUM={max_temp}
  CARTOGRAPHER_STREAM FILENAME=data3
  M104 S0
  M140 S0
  RESPOND TYPE=command MSG='Testing complete, please move files using: mv ~/klipper/data1 ~/klipper/data2 ~/klipper/data3 ~/cartographer-klipper/'
  M117 "Testing complete, please move files using: mv ~/klipper/data1 ~/klipper/data2 ~/klipper/data3 ~/cartographer-klipper/"
  RESPOND TYPE=command MSG='Follow the remaining instructions here: https://docs.cartographer3d.com/cartographer-probe/advanced-features/temperature-differential-calibration-beta'
  M117 "Follow the remaining instructions here: https://docs.cartographer3d.com/cartographer-probe/advanced-features/temperature-differential-calibration-beta"
  